.home{
    padding: 0 20px;

    .bus-list-page-heading{
        font-size: 35px;
        font-weight: 500;
        text-align: center;
    }
    .bus-route-heading {
        font-size: 23px;
        font-weight: 500;
        text-align: left;
    }
    .bus-stop-list{
        padding: 10px 0;
    }
}